
body {
	background-color: #82C0CC;
	text-align: center;
	color: #14091A;
	font-family: 'Quicksand', sans-serif;


}

#insertData {
	display: flex;
	justify-content: center;
}


.top-container {
	background-color: #82C0CC;
}

h1 {
	font-family: 'Quicksand', sans-serif;
}

#title {
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 3rem;
	margin-top: 1rem;
}



#map {
	width: 60rem;
	height: 30rem;
	margin:0 auto;
}


.card {
	background-color: mintcream;
	border: #F4A55D 2px solid;
}

