
body {
	background-color: #82C0CC;
	text-align: center;
	color: #14091A;
	font-family: 'Quicksand', sans-serif;


}

#insertData {
	display: flex;
	justify-content: center;
}


.top-container {
	background-color: #82C0CC;
}

h1 {
	font-family: 'Quicksand', sans-serif;
}

#title {
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 3em;
	padding-top: 1%;
}

.container {
	padding-top: 15px;
}

#map {
	padding-top: 10px;
	width: 59%;
	height: 500px;
	margin:0 auto;
}

.lng-lat-input{
	padding-top: 10px;
}

.lng-input {
	margin-top: 10px;
}

.submit {
	margin-top: 10px;
	margin-left: 123px;
}

.card {
	background-color: mintcream;
	border: #F4A55D 2px solid;
}

a {
	color: #14091A;
	font-size: 18px;
}

a:hover {
	color: white;
	text-decoration: none;
}